* {
  box-sizing: border-box;
}

html {
  font-family: 'Segoe UI', Helvetica;
  font-weight: 700;
  font-size: 62.5%;
  text-align: center;

  background-image: linear-gradient(#0079fb, #ff1, #ff576b, #b762fb, #459dfb, #4ee4c3, #ffd116, #ff576b);
  padding: 2rem;
}

/* UI */

div {
  max-width: 90rem;
  margin: 0 auto 0 auto;
}

p {
  font-size: 2.5rem;
  line-height: 2;
}

h3 {
  font-size: 7rem;
}

button {
  padding: 10px 20px;
  font-weight: 700;
  color: white;
  border: none;
  background: #275efe;
  cursor: pointer;
  margin-right: 2rem;
}

/* Sections */

section {
  padding: 17rem 0 20rem 0;
  border-top: 0.6rem solid #000;
  border-left: 0.6rem solid #000;
  border-right: 0.6rem solid #000;
}

section:last-of-type {
  border-bottom: 0.6rem solid #000;
}

.intro {
  background-color: #4ee4c3;
}

.tutorial {
  background-color: #ff576b;
}

.main {
  background-color: #44ed92;
}

.misc {
  background-color: #b762fb;
}

/* Main */

main {
  display: flex;
  justify-content: center;
  width: 100%;
}

.containers {
  padding: 10px;
  padding-bottom: 100px;
  background: #4ee4c3;
  border: 0.3rem solid #2c2c2c;
}

.containers:first-of-type {
  width: 20%;
  margin-right: 20px;
}

.containers:last-of-type {
  width: 80%;
}

.component {
  background: #e6fee1;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  height: 60px;
  cursor: grab;
  display: none;
  font-size: 2rem;
}

.projectComponent {
  display: none;
  align-items: center;
  color: #000;
  border-radius: 5px;
  width: 100%;
  height: 27px;
}

.projectComponent input[type='text'] {
  margin-left: 20px;
  width: 200px;
}

/* Main Row */

input[type='date'],
input[type='number'],
input[type='text'] {
  height: 27px;
  border: 1px solid #44ed92;
  background: #e6fee1;
}

/* Header Component */

.header {
  margin-top: 20px;
  justify-content: flex-end;
}

.header input {
  font-weight: bold;
}

.header input[type='text'] {
  width: 55%;
}

/* Category Component */

.category {
  justify-content: flex-end;
}

.category input {
  font-weight: bold;
}

.category input[type='text'] {
  width: 50%;
}

/* Task Component */

.task {
  justify-content: flex-end;
}

.task input[type='text'] {
  width: 42%;
  text-align: right;
  padding-right: 1rem;
}

/* Drag & Drop */

#loading {
  color: #ff576b;
}

.drop {
  /* border: 0.6rem dashed #fff; */
  cursor: pointer;

  border: 1px solid transparent;
  box-sizing: border-box;

  z-index: 999;

  border-image-outset: 5px;
  border-image-repeat: repeat;
  border-image-source: url('images/border.gif');

  border-image-slice: 3;
  border-image-width: 4px;
}

/* Hide Year in date input */

input[type='date']::-webkit-datetime-edit,
input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-clear-button {
  color: #fff;
  position: relative;
}

input[type='date']::-webkit-datetime-edit-month-field {
  position: absolute !important;
  color: #000;
  left: 26px;
}

input[type='date']::-webkit-datetime-edit-day-field {
  position: absolute !important;
  color: #000;
  left: 4px;
}
